<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ice.learningcompass.mapper.PostPictureMapper">

    <resultMap id="BaseResultMap" type="com.ice.learningcompass.model.entity.PostPicture">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="postId" column="postId" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="picture" column="picture" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,postId,userId,
        picture,createTime,updateTime,
        isDelete
    </sql>

    <insert id="insetPictureList" parameterType="java.util.List">
        INSERT INTO post_picture (postId, userId, picture)
        VALUES
        <foreach collection="postPictureList" item="picture" separator=",">
            (#{picture.postId}, #{picture.userId}, #{picture.picture})
        </foreach>
    </insert>
</mapper>
